html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: #f7f7f7;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.login-body {
  background: #00b7ea;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 12+ */
  /* IE10+ */
  background: radial-gradient(ellipse at center,  #00b7ea 0%,#009ec3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.form-control {
  font-size: 12px;
}

.navbar {
  background: #0888D7;
  border-bottom: 5px solid #F4CB0A !important;
  color: #fff;
}

.navbar-static-side {
  z-index: 1;
  position: absolute;
  width: 15%;
  background: black;
  min-height: 100%;
}

/* Fonts */

@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue-webfont.eot') format('eot'),
	url('../fonts/BebasNeue-webfont.woff') format('woff'),
	url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
	url('../fonts/BebasNeue-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Light-webfont.eot') format('eot'),
	url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
	url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
	url('../fonts/OpenSans-Light-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.sidebar-heading {
  font-family: BebasNeue;
  text-align: center;
  font-size: 72px !important;
  width: 100%;
}

.btn {
  font-size: 12px;
}

.clock .digital-clock .get-time {
  font-size: 48px;
  font-weight: bold;
  display: inline-block;
  width: 40px;
}

.clock .digital-clock span {
  font-family: 'Oswald';
  font-size: 48px;
  font-weight: bold;
  margin: 0 10px;
}

ul#side-menu li>button {
  margin-top: 10px;
}

.nav a {
  color: inherit;
  font-weight: bold;
  font-size: 12px;
}

.panel-heading {
  background: linear-gradient(to bottom, #FFF 0%,#EDEDED 100%);
}

.panel-title {
  font-size: 12px;
  font-weight: bold;
  padding: 3	px;
}

.content {
  width: 83%;
  margin: 90px 30px 0px 16%;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #0876B9;
}

.navbar-brand {
  color: #fff;
  font-family: BebasNeue;
}

.form-horizontal {
  font-size: 12px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0px;
  line-height: normal;
}

span.sBtn {
  cursor: pointer;
}